# =========================
# サーバー設定
# =========================
APP_HOST=
APP_PORT=
RUST_LOG=

# =========================
# データベース接続
# =========================
DATABASE_URL=
DB_MAX_CONNECTIONS=

# =========================
# JWT 設定
# =========================
JWT_SECRET=